<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RadBox</title>
  <meta name="description" content="RadBox allows to monotir background radiation level in your basement.">
  <meta name="author" content="Yoan Tournade">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <script src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
  <script src="/static/js/react.min.js"></script>
  <script src="/static/js/react-dom.min.js"></script>
  <script src="/static/js/babel-core-browser.min.js"></script>
  <script src="/static/js/plotly.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div>
        <h3><a href="/">RadBox</a></h3>
      </div>
    </div>
    <div id="readings"></div>
    <div class="row">
      <div id="plot-safecast-soubeyrac" class="ten columns offset-by-one column"></div>
    </div>
    <div class="row u-txt-center">
      <button id="enable-sound" class="button-primary" onclick="switchSound();" style="display: none;">Enable sound</button>
      <button id="disable-sound" onclick="switchSound();">Disable sound</button>
    </div>
    <div class="row u-txt-center">
      <p>
        <a href="/settings">Settings</a>
      </p>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    "use strict";
    var police = new Audio("/static/click.wav");
    police.loop = false;
    var soundEnabled = true;
    var readingsHistory = [ { x: [], y: [], type: 'scatter' } ];
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
      socket.on('ray', function(message) {
        if (soundEnabled) {
          police.play();
        }
      });
      socket.on('history', function(message) {
        console.log(message);
        message.forEach(function(dataPoint) {
          readingsHistory[0].x.push(dataPoint.timestamp.replace('T', ' ').replace('Z', ''));
          readingsHistory[0].y.push(dataPoint.uSvh);
        });
        doPlot();
      });
    });
    function switchSound() {
      // TODO Persist to browser.
      if(soundEnabled) {
        soundEnabled = false;
        $("#enable-sound").show();
        $("#disable-sound").hide();
      } else {
        soundEnabled = true;
        $("#enable-sound").hide();
        $("#disable-sound").show();
      }
    }
    // Plot historical data.
    function doPlot() {
      // TODO To make it responsive at window resizing
      // https://plot.ly/javascript/responsive-fluid-layout/
      Plotly.plot(
        document.getElementById('plot-safecast-soubeyrac'),
        readingsHistory,
        {
          yaxis: {
          title: 'Radiation dose (uSv/h)'
          }
        }
      );
    }
  </script>
  <script type="text/babel">
    "use strict";
    var Readings = React.createClass({
      displayName: "Readings",
      getInitialState: function() {
        return { cpm: null, uSvh: null, uSvhError: null };
      },
      componentDidMount: function() {
        socket.on('readings', this.handleData);
      },
      handleData: function(data) {
        if(data.cpm === null)
          data.cpm = '-';
        if(data.uSvh === null)
          data.uSvh = '-';
        this.setState(data);
        if(data.uSvh !== null && readingsHistory[0].x.length > 0) {
          readingsHistory[0].x.push(data.timestamp.replace('T', ' ').replace('Z', ''));
          readingsHistory[0].y.push(data.uSvh);
          Plotly.redraw(document.getElementById('plot-safecast-soubeyrac'));
        }
      },
      render: function() {
        return (
          <div className="row readings">
            <div className="four columns offset-by-two columns">
              <p>CPM: <span id="cpm">{this.state.cpm}</span></p>
            </div>
            <div className="one-half column">
              <p>Radiation level: <span id="uSvh">{this.state.uSvh}</span> uSv/h</p>
            </div>
          </div>
        );
      }
    });
    ReactDOM.render(
      <Readings />,
      document.getElementById('readings')
    );
  </script>
</body>
</html>

