<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RadBox Settings</title>
  <meta name="description" content="RadBox allows to monotir background radiation level in your basement.">
  <meta name="author" content="Yoan Tournade">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/react.min.js"></script>
  <script src="/static/js/react-dom.min.js"></script>
  <script src="/static/js/babel-core-browser.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div>
        <h3><a href="/">RadBox</a> - Settings</h3>
      </div>
    </div>
    <div id="settings"></div>
  </div>
  <script type="text/babel">
    "use strict";
    var Settings = React.createClass({
      displayName: "Settings",
      getInitialState: function() {
        return {
          changed: false,
          publication: {
            period: 15 },
          location: {
            name: null, latitude: null, longitude: null, height: null },
          twitter: {
            enabled: false, appKey: null, appSecret: null,
            oauthToken: null, oauthTokenSecret: null },
          safecast: { enabled: false, apiKey: null, production: false },
          plotly: {
            enabled: false, username: null, apiKey: null, streamingToken: null,
            plotTitle: null },
          radmon: { enabled: false, username: null, password: null },
          gammaapi: { enabled: false, username: null, password: null }
          };
      },
      componentDidMount: function() {
        // Do an Ajax call to get settings configuration from server.
        this.serverRequest = $.getJSON('/api/settings', function(settings) {
          settings['changed'] = false;
          this.setState(settings);
        }.bind(this));
      },
      componentWillUnmount: function() {
        this.serverRequest.abort();
      },
      handleSubmit: function(e) {
        e.preventDefault();
        // Do an Ajax call to save configuration to server.
        this.serverRequest = $.ajax({
          type: 'POST',
          url: '/api/settings',
          data: JSON.stringify(this.state),
          contentType: 'application/json',
          dataType: 'json',
          success: function() {
            this.setState({changed: false});
          }.bind(this)
        });
      },
      handleChange: function(field, e) {
        // Is that not a bit hacky?
        var newState = {};
        var fieldKeys = field.split('.');
        newState[fieldKeys[0]] = this.state[fieldKeys[0]];
        if(e.target.type === 'checkbox') {
          newState[fieldKeys[0]][fieldKeys[1]] = e.target.checked;
        } else {
          newState[fieldKeys[0]][fieldKeys[1]] = e.target.value;
        }
        newState['changed'] = true;
        this.setState(newState);
      },
      render: function() {
        // TODO We could make a component for each configuration part.
        // The component will manage the Enabled/Disabled feature,
        // then have a list of fields directly binded to the settings
        // part attributes.
        // TODO Use Google Map to set location?
        return (
          <form onSubmit={this.handleSubmit}>
            <h3>Publication</h3>
            <p>Configure the RadBox for publishing readings to external services.</p>
            <div className="row">
              <div className="six columns">
                <label htmlFor="publicationPeriod">Period (in minutes)</label>
                <input className="u-full-width" type="number" id="publicationPeriod" value={this.state.publication.period} onChange={this.handleChange.bind(this, 'publication.period')} />
              </div>
            </div>
            <h4>Location</h4>
            <p>Configure the RadBox location as precisely as possible.</p>
            <div className="row">
              <div className="six columns">
                <label htmlFor="locationName">Place name</label>
                <input className="u-full-width" type="text" id="locationName" value={this.state.location.name} onChange={this.handleChange.bind(this, 'location.name')} />
              </div>
              <div className="six columns">
                <label htmlFor="locationHeight">Height (in meters)</label>
                <input className="u-full-width" type="number" id="locationHeight" step="0.01" value={this.state.location.height} onChange={this.handleChange.bind(this, 'location.height')} />
              </div>
            </div>
            <div className="row">
              <div className="six columns">
                <label htmlFor="locationLatitude">Latitude</label>
                <input className="u-full-width" type="text" id="locationLatitude" value={this.state.location.latitude} onChange={this.handleChange.bind(this, 'location.latitude')} />
              </div>
              <div className="six columns">
                <label htmlFor="locationLongitude">Longitude</label>
                <input className="u-full-width" type="text" id="locationLongitude" value={this.state.location.longitude} onChange={this.handleChange.bind(this, 'location.longitude')} />
              </div>
            </div>
            <h4>Twitter <input type="checkbox" checked={this.state.twitter.enabled} onChange={this.handleChange.bind(this, 'twitter.enabled')} /></h4>
            <div id="twitter-settings" style={this.state.twitter.enabled ? {display: 'block'} : {display: 'none'}}>
              <div className="row">
                <div className="six columns">
                  <label htmlFor="twitterAppKey">App Key</label>
                  <input className="u-full-width" type="text" id="twitterAppKey" value={this.state.twitter.appKey} onChange={this.handleChange.bind(this, 'twitter.appKey')} />
                </div>
                <div className="six columns">
                  <label htmlFor="twitterAppSecret">App Secret</label>
                  <input className="u-full-width" type="text" id="twitterAppSecret" value={this.state.twitter.appSecret} onChange={this.handleChange.bind(this, 'twitter.appSecret')} />
                </div>
              </div>
              <div className="row">
                <div className="six columns">
                  <label htmlFor="twitterOauthToken">OAuth Token</label>
                  <input className="u-full-width" type="text" id="twitterOauthToken" value={this.state.twitter.oauthToken} onChange={this.handleChange.bind(this, 'twitter.oauthToken')} />
                </div>
                <div className="six columns">
                  <label htmlFor="twitterOauthTokenSecret">OAuth Token Secret</label>
                  <input className="u-full-width" type="text" id="twitterOauthTokenSecret" value={this.state.twitter.oauthTokenSecret} onChange={this.handleChange.bind(this, 'twitter.oauthTokenSecret')} />
                </div>
              </div>
            </div>
            <h4>Safecast <input type="checkbox" checked={this.state.safecast.enabled} onChange={this.handleChange.bind(this, 'safecast.enabled')} /></h4>
            <div id="safecast-settings" style={this.state.safecast.enabled ? {display: 'block'} : {display: 'none'}}>
              <div className="row">
                <div className="six columns">
                  <label htmlFor="safecastApiKey">API Key</label>
                  <input className="u-full-width" type="text" id="safecastApiKey" value={this.state.safecast.apiKey} onChange={this.handleChange.bind(this, 'safecast.apiKey')} />
                </div>
                <label className="six columns checkbox-container">
                  <br/>
                  <input type="checkbox" checked={this.state.safecast.production} onChange={this.handleChange.bind(this, 'safecast.production')} />
                  <span class="label-body">Production server</span>
                </label>
              </div>
            </div>
            <h4>YtoTech Gamma API <input type="checkbox" checked={this.state.gammaapi.enabled} onChange={this.handleChange.bind(this, 'gammaapi.enabled')} /></h4>
            <div id="gammaapi-settings" style={this.state.gammaapi.enabled ? {display: 'block'} : {display: 'none'}}>
              <div className="row">
                <div className="six columns">
                  <label htmlFor="gammaapiUsername">Username</label>
                  <input className="u-full-width" type="text" id="gammaapiUsername" value={this.state.gammaapi.username} onChange={this.handleChange.bind(this, 'gammaapi.username')} />
                </div>
                <div className="six columns">
                  <label htmlFor="gammaapiPassword">Password</label>
                  <input className="u-full-width" type="text" id="gammaapiPassword" value={this.state.gammaapi.password} onChange={this.handleChange.bind(this, 'gammaapi.password')} />
                </div>
              </div>
            </div>
            <h4>Plotly <input type="checkbox" checked={this.state.plotly.enabled} onChange={this.handleChange.bind(this, 'plotly.enabled')} /></h4>
            <div id="plotly-settings" style={this.state.plotly.enabled ? {display: 'block'} : {display: 'none'}}>
              <div className="row">
                <div className="six columns">
                  <label htmlFor="plotlyUsername">Username</label>
                  <input className="u-full-width" type="text" id="plotlyUsername" value={this.state.plotly.username} onChange={this.handleChange.bind(this, 'plotly.username')} />
                </div>
                <div className="six columns">
                  <label htmlFor="plotlyApiKey">API Key</label>
                  <input className="u-full-width" type="text" id="plotlyApiKey" value={this.state.plotly.apiKey} onChange={this.handleChange.bind(this, 'plotly.apiKey')} />
                </div>
              </div>
              <div className="row">
                <div className="six columns">
                  <label htmlFor="plotlyStreamingToken">Streaming Token</label>
                  <input className="u-full-width" type="text" id="plotlyStreamingToken" value={this.state.plotly.streamingToken} onChange={this.handleChange.bind(this, 'plotly.streamingToken')} />
                </div>
                <div className="six columns">
                  <label htmlFor="plotlyPlotTitle">Plot Title</label>
                  <input className="u-full-width" type="text" id="plotlyPlotTitle" value={this.state.plotly.plotTitle} onChange={this.handleChange.bind(this, 'plotly.plotTitle')} />
                </div>
              </div>
            </div>
            <h4>Radmon <input type="checkbox" checked={this.state.radmon.enabled} onChange={this.handleChange.bind(this, 'radmon.enabled')} /></h4>
            <div id="radmon-settings" style={this.state.radmon.enabled ? {display: 'block'} : {display: 'none'}}>
              <div className="row">
                <div className="six columns">
                  <label htmlFor="radmonUsername">Username</label>
                  <input className="u-full-width" type="text" id="radmonUsername" value={this.state.radmon.username} onChange={this.handleChange.bind(this, 'radmon.username')} />
                </div>
                <div className="six columns">
                  <label htmlFor="radmonPassword">Password</label>
                  <input className="u-full-width" type="text" id="radmonPassword" value={this.state.radmon.password} onChange={this.handleChange.bind(this, 'radmon.password')} />
                </div>
              </div>
            </div>
            <div className="u-txt-center">
              <input className={this.state.changed ? 'button-primary' : 'button'} type="submit" value="Save settings" />
            </div>
          </form>
        );
      }
    });
    ReactDOM.render(
      <Settings />,
      document.getElementById('settings')
    );
  </script>
</body>
</html>

